.change {
  padding: 5px;

  .change-text {
    .fa {
      vertical-align: middle;
      font-size: 8px;
      margin-right: 2px;
    }
  }
}

.changes {
  background-color: white;
  border: $border-grey;
  max-height: 50%;
  word-break: break-all;
  white-space: pre-wrap;
}

.past {
  background-color: rgba(113, 166, 210, 0.4);
  font-weight: bold;
}

.future {
  color: rgba(180, 180, 180, 1.0);
  font-style: italic;
}

.actions {
  display: flex;
  align-items: flex-start;

  .flex-box {
    margin-bottom: 5px;
  }

  .flex-box:last-child {
    text-align: right;
  }
}

@media screen and (max-width: 1000px) {
  .actions {
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .flexed {
    .actions {
      flex-direction: column;
    }
  }
}
