// Taken from https://github.com/lukehaas/css-loaders/tree/step2/sass

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
}

.loader:before,
.loader:after {
	position: absolute;
	content: '';
}

.loader:before {
	width: 5.2em;
	height: 10.2em;
	background: #ffffff;
	border-radius: 10.2em 0 0 10.2em;
	top: -0.1em;
	left: -0.1em;
	transform-origin: 5.2em 5.1em;
	animation: loader 2s infinite ease 1.5s;
}

.loader {
	color: $background-grey;
	font-size: 11px;
	text-indent: -99999em;
	margin: 55px auto;
	position: relative;
	width: 10em;
	height: 10em;
	box-shadow: inset 0 0 0 1em;
	transform: translateZ(0);
}

.loader:after {
	width: 5.2em;
	height: 10.2em;
	background: #ffffff;
	border-radius: 0 10.2em 10.2em 0;
	top: -0.1em;
	left: 5.1em;
	transform-origin: 0px 5.1em;
	animation: loader 2s infinite ease;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
